body{
  margin: 0;
}
.encabezado, .contenido, .contenido-lateral, .pie-pagina{
  padding: 1em 2em;
}
.contenido, .contenido-lateral, .pie-pagina{
  float: left;
  box-sizing: border-box;
}
.encabezado{
  background-color: rgb(251, 204, 113);
  height: 100px;
}
.contenido{
  width: 60%;
}
.contenido-lateral{
  width: 40%;
  background-color: rgb(255, 153, 211);
  height: 500px;
}
.post{
  background-color: rgb(141, 197, 246);
  height: 100px;
  margin-bottom: 1em;
}
.pie-pagina{
  width: 100%;
  background-color: #000;
  height: 50px;
}
@media screen and (min-width: 780px) and (max-width: 1024px)){
  .encabezado{
    background-color: rgb(251, 204, 113);
  }
  .contenido,.contenido-lateral{
    width: 50%;
  }
}
@media screen and (min-width: 480px) and (max-width: 780px)){
  .encabezado{
    background-color: rgb(255, 128, 65);
  }
  .contenido,.contenido-lateral{
    width: 100%;
  }
}
@media screen and (min-width: 480px){
  .encabezado{
    height: 80px;
  }
  .contenido{
    background-color: rgb(11, 252, 135);
  }
  .contenido,.contenido-lateral{
    width: 100%;
  }
}
